{
  "compileOnSave": false,
  "compilerOptions": {
    "jsx": "react-jsx",
    "rootDir": ".",
    "sourceMap": true,
    "declaration": false,
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "importHelpers": true,
    "target": "es2015",
    "module": "esnext",
    "allowSyntheticDefaultImports": true,
    "noImplicitAny": false,
    "lib": ["es2017", "dom"],
    "skipLibCheck": true,
    "skipDefaultLibCheck": true,
    "strict": true,
    "resolveJsonModule": true,
    "baseUrl": ".",
    "paths": {
      "@app/auth": ["src/@app/auth/index.ts"],
      "@app/colors": ["src/@app/colors/index.ts"],
      "@app/core": ["src/@app/core/index.ts"],
      "@app/configs": ["src/@app/configs/index.ts"],
      "@app/context": ["src/@app/context/index.tsx"],
      "@app/hooks": ["src/@app/hooks/index.ts"],
      "@app/layout": ["src/@app/layout/index.ts"],
      "@app/settings": ["src/@app/settings/index.ts"],
      "@app/store": ["src/@app/store/index.ts"],
      "@app/shared": ["src/@app/shared/index.ts"],
      "@app/types": ["src/@app/types/index.ts"],
      "@app/utils": ["src/@app/utils/index.ts"],

      "@mock-api": ["src/@mock-api/index.ts"],
      "@history": ["src/@history/index.ts"],
      "@lodash": ["src/@lodash/index.ts"]
    }
  },
  "exclude": ["node_modules", "tmp", "translate", "template"],
  "include": ["src"]
}
